@import '../utils/variables.scss';

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 98px);
  margin: 16px;
  margin-left: 32px;
  font-size: 2rem;
  color: lightgray;
  border-radius: 10px;
  &__animation {
    overflow: hidden;
  }

  &__image {
    width: 700px;
    height: 500px;
    font-size: 16px;
    color: $colorblue;
  }
}
