@import './utils/variables.scss';

.page {
  &__tool-bar {
    background: #004a9f;
    color: $colorwhite;
  }

  &__side-bar {
    margin: 16px;
    width: 400px;
    padding: 16px;
    text-align: center;
    background: $colorblue;
    color: $colorwhite;
    border-right: none;
    border-radius: 10px;
  }

  &__container {
    height: calc(100vh - 65px);
  }
}
